<p><%= recipe_step.step %></p>

<%= link_to "Back to Cook Book", boards_path %>
<%= link_to "Edit", edit_recipe_step_path(@recipe_step) %>
<%= link_to "Delete", recipe_step_path, method: :delete, data: { confirm: "Are you sure you want to delete this recipe_step?"} %>
