<h1 id="cookbook-label"> <%= current_user.first_name.upcase %>'S COOK BOOK </h1>

<ul>
    <% @boards.each do |board| %>
        <strong><%=link_to board.name_of_food, board_path(board)%></strong>

    <% end %>
</ul>

<%= link_to "Add a Board", new_board_path(@board) %>
