<h1><%= @name_of_food %></h1>

<ul>
    <% @boards.each do |board| %>
        <%= @images. %>
        category
        recipe_steps
         <%= link_to "see board info...", bean_path(bean) %>
    <% end %>
</ul>
