/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *
*
*= require rails_bootstrap_forms
*= require_self
*= require_tree .
*/
@import "bootstrap-sprockets";
@import "bootstrap";

@import url(https://fonts.googleapis.com/css?family=Tangerine|Pinyon+Script|Petit+Formal+Script);

nav {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}

.board{
  width: 350px;
  height: 350px;
  border: solid 1px black;
  padding: 10px;
  padding-top: 165px;
  margin: 10px;
  text-align: center;
  font-family: 'Petit Formal Script', cursive;
  font-size: 15pt;
}


#boards_container{
  margin: 0 auto;
  width: 85%;
}


#user-nav{
  font-family: futura;
  padding: 10px;

}

#logo{
  font-family: futura;
  font-size: 24pt;
  color: #000;
}
#cookbook-link{
  font-family: futura;
  font-size: 12pt;
  color: #000;
}
#cookbook-label{

  font-size: 50px;
  margin: 0 auto;
  width: 20%;
}

.recipe_container{
  float: left;
}

.image_container{
  float: right;
}

.footer {
  margin-top: 200px;
}
