/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *
*
*= require rails_bootstrap_forms
*= require_self
*= require_tree .
*/
@import "bootstrap-sprockets";
@import "bootstrap";

@import url(https://fonts.googleapis.com/css?family=Tangerine|Pinyon+Script|Petit+Formal+Script);



nav {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}

// for cookbook page
.board{

  height: 200px;
  overflow: hidden;


}

.image-hover:hover{
  cursor: pointer;
}
.img-responsive{
  width:100%;
}

.img-responsive:hover{
 opacity: .5;
}

.row > .board{
  padding: 0;
}

#board-button-placement{
  margin: 0 auto;
  width: 15%;
  margin-bottom: 15px;
}

#add-board-button{
  width: 200px;
  height: 20px;
  border-radius: 5px;
  padding-bottom: 23px;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
  font-family: futura;
  color:#261226;

}

#boards_container{
  margin: 0 auto;
  width: 85%;
}


#user-name{
  color:#261226;
}

#user-nav{
  font-family: futura;
  margin-top: 15px;
  margin-right: 10px;

}

#logo{
  height: 40px;
}
#cookbook-link{
  font-family: futura;
  font-size: 12pt;
  color: #000;
}
#cookbook-label{

  font-size: 50px;
  text-align: center;
  font-family: futura;
  // margin:50px;
  // border: solid 2px black;
  padding: 10px;
  margin: 50px;
  // display: inline;
  // margin-left: 30%;

}

.navbar-left{
  padding: none;
}



.recipe_lines {
  font-family: futura;
  font-size: 14pt;
}

.submit_button {
  background-color: #261226;
  border-radius: 5px;
  color: #fff;
  font-family: 'Petit Formal Script', cursive;
}

.recipe_container{
  float: left;
  background-color: #F5F5F5;
  border-radius: 3px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
  margin-left: 5%;
  padding: 15px;
}

.image_container{
  float: right;
}

// board page
#category-name{
  text-align: center;
}

#food-name{
  text-align: center;
}

#edit-board-button{
  margin: 0 auto;

}

#add-image-button{
  float: right;
  margin: 20px;
  margin-bottom: 50px;
}

.food-pics{
  height: 300px;
  max-width: 200px;
  overflow: hidden;
  background-size: cover;
}

.food-board-images{
  width: 50%;
  float: right;
}

.footer-color{
  background-color: #000;
  margin-top: 50px;
  height: 40px;
}

#red-background{
  background-color: #D40D13;
  height: 768px;
  color:#fff;
  text-align: left;
  font-family: futura;
  padding-top: 50px;
  padding-left: 70px;

}

.navbar{
  margin-bottom: 0;
}

.welcome-features{
  margin: 0 auto;
  text-align: center;
  font-size: 24pt;
  margin-top: 60px;
  margin-left: 30px;
}

a {
  color: #000000;
}

.main-logo{
  margin: 0 auto;
  width: 50%;
  margin-top: 30%;
}

#welcome-title{
  // margin-top: 20%;
  margin-bottom: 10%;
  font-size: 50pt;
}

#welcome-text{
  margin-left: 10%;
  margin-top: 25%;
}

#access_pages {
  text-align: center;
  margin-top: 5%;
}
