// Place all the styles related to the recipe_steps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#update_button {
  margin-top: 15px;
  background-color:rgba(212, 13, 19, .9);
}

#back_but {
  margin-top: 15px;
  border-color:rgba(212, 13, 19, .9);
}

#delete_button {
  margin-top: 15px;
}
