<h1> Category List </h1>

<%= link_to "Create New Category", new_category_path(@category) %>
<ul>
    <% @categories.each do |category| %>
        <li>
             <strong><%= category.name %></strong> <%= link_to "edit", edit_category_path(category) %>
        </li>

    <% end %>

    <%= link_to "Back to Cook Book", boards_path %>
</ul>
